* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

.body {
    background-color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__task {
    list-style: none;
}

#test1 {
    display: flex;
    justify-content: center;
}

.active {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
}

.inactive {
    text-decoration: none;
}